:root {
  --white: hsl(0, 0%, 98%);
  --gray: hsl(0, 0%, 41%);
  --black: hsl(0, 0%, 8%);
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Epilogue", sans-serif;
  font-size: 18px;
  color: var(--black);
  background-color: var(--white);
  height: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.header {
  justify-content: space-between;
  width: 100%;
  margin: 1.5em 1em;
}

.content {
  width: 100%;
  justify-content: center;
  margin: 2.5em 0.5em 0 0.5em;
}

.footer {
  margin: 3em 1em 0 1em;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  height: 1.75em;
  width: auto;
}

.img-main {
  max-width: 100%;
}

.img-small {
  width: 20%;
}

.img-small > img {
  width: 100%;
}

.img-smaller {
  width: 20%;
  display: flex;
  justify-content: center;
}

.img-smaller > img {
  width: 70%;
}

.title {
  font-weight: 700;
  margin: 0;
}

.paragraph {
  color: var(--gray);
  text-align: center;
  font-size: 0.9em;
  line-height: 1.5em;
}

.btn {
  font-family: "Epilogue", sans-serif;
  font-size: 1em;
  border-radius: 18px;
  border: 0;
}

.btn-learn-more {
  font-weight: 700;
  background-color: var(--black);
  color: var(--white);
  padding: 0.9em 1.5em;
  margin-top: 0.5em;
}

.btn-account {
  background-color: var(--white);
  color: var(--gray);
  font-size: 0.9em;
  margin-top: 0.5em;
  padding: 0.75em 1.5em;
}

.btn-account:hover {
  cursor: pointer;
  color: var(--black);
}

.btn-register {
  border: 2px solid var(--gray);
  border-radius: 16px;
}

.btn-register:hover {
  border: 2px solid var(--black);
}

.side-nav {
  width: 70%;
  height: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  background-color: var(--white);
  transition: transform 0.5s;
  transform: translateX(100%);
  flex-direction: column;
  padding: 1.5em;
  box-sizing: border-box;
}

.side-nav-header {
  align-self: flex-end;
  margin-bottom: 2em;
}

.overlay {
  display: none;
  background-color: var(--black);
  opacity: 75%;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  transition: 0.5s;
}

.menu-item {
  color: var(--gray);
  margin-bottom: 1.5em;
  font-size: 0.9em;
}

.menu-item:not(:nth-child(3)):hover {
  cursor: pointer;
  color: var(--black);
}

.menu-item:last-child {
  margin-bottom: 0;
}

.dropdown-title {
  display: flex;
  align-items: center;
}

.dropdown-options {
  display: none;
  flex-direction: column;
  margin-left: 1em;
  margin-top: 1.5em;
}

.dropdown-option.menu-item {
  display: flex;
  align-items: center;
}

.dropdown-option-icon {
  margin-right: 1em;
}

.menu-arrow {
  margin-left: 1em;
}

.top-nav {
  display: none;
}

.btn-account-container {
  display: none;
}

@media screen and (min-width: 992px) {
  .menu-icon {
    display: none;
  }

  .header {
    margin: 1.5em 2em;
    justify-content: flex-start;
    align-items: center;
  }

  .side-nav {
    display: none;
  }

  .top-nav {
    margin-left: 3em;
    display: flex;
    align-items: center;
  }

  .menu-item {
    margin-bottom: 0;
    margin-right: 3em;
  }

  .menu-arrow {
    margin-left: 0.5em;
  }

  .btn-account {
    margin: 0;
  }

  .btn-account-container {
    display: initial;
    margin-left: auto;
  }

  .dropdown-menu {
    position: relative;
  }

  .dropdown-options {
    position: absolute;
    background: white;
    border-radius: 16px;
    box-shadow: 0px 0px 32px 2px lightgray;
    margin-left: 0;
    padding: 1.5em;
    white-space: nowrap;
  }

  .dropdown-options.shift-left {
    right: 0;
  }

  .dropdown-option {
    margin-bottom: 1em;
  }

  .dropdown-option.menu-item {
    margin-right: 0;
  }
}
